@page "/"
@rendermode InteractiveServer

@using Clientes.Api.Domain.Filters
@using Clientes.Api.Domain.Model
@using Clientes.Api.Service
@using Clientes.Api.Extensions

@using Blazored.Toast.Configuration
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Text.Json.Serialization
@using Newtonsoft.Json

@inject IClienteService clientService
@inject IModalService modalService
@inject IToastService toastService

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.Material"
                SuccessIcon="done_outline"
                WarningIcon="warning"
                ShowProgressBar="true" />

<PageTitle>ListagemClientes</PageTitle>

<div>
    <p style="display: inline;">
        Consulte os seus Clientes cadastrados na
        sua Loja ou realize o cadastro de novos Cliente.
    </p>
    <NavLink class="btn btn-primary" href="cadastrar-cliente" style="display: inline-block; margin-left: 10px;">
        Adicionar Cliente
    </NavLink>
</div>
<button class="btn btn-secondary" @onclick="MostrarFiltros">Mostrar Filtros</button>
<br />

@if (filtros)
{
    <br />
    <EditForm Model="@ModelFiltros" OnSubmit="@Filtrar">
        <div class="form-group">
            <InputText Placeholder="Nome ou Razão Social do Cliente" @bind-Value="ModelFiltros.NomeRazao" class="form-control form-control-sm" style="" />
            <InputText Placeholder="E-mail do Cliente" @bind-Value="ModelFiltros.Email" class="form-control form-control-sm" />
            <InputText Placeholder="Telefone do Cliente" @bind-Value="ModelFiltros.Telefone" class="form-control form-control-sm" />
            <DateRangePicker 
                class="form-control form-control-sm" 
                @bind-StartDate="ModelFiltros.DataCadastroInicio" 
                @bind-EndDate="ModelFiltros.DataCadastroFim" 
                placeholder="Selecione uma data ou período" />
            <label>
                Cliente Bloqueado
                <InputSelect @bind-Value="ModelFiltros.Bloqueado">
                    <option value=false selected>Selecione</option>
                    <option value=false>Não</option>
                    <option value=true>Sim</option>
                </InputSelect>
            </label>
            <br />
            <input type="submit" class="btn btn-primary" value="Aplicar Filtros" />
            <button class="btn btn-secondary" @onclick="limparFiltros">limpar filtros</button>
        </div>
    </EditForm>
}

<br />
<QuickGrid Items="Clientes.AsQueryable()" Pagination="pagination">
    <PropertyColumn Property="c => c.NomeRazao"></PropertyColumn>
    <PropertyColumn Property="c => c.Email"></PropertyColumn>
    <PropertyColumn Property="c => c.Telefone.FormatarStringTelefone()"></PropertyColumn>
    <PropertyColumn Property="c => c.DataCadastro.FormatDataddMMYY()"></PropertyColumn>
    <TemplateColumn Title="Bloqueado">
        <div>
            <input type="checkbox" checked="@context.Bloqueado" disabled />
        </div>
    </TemplateColumn>
    <TemplateColumn Title="Acões">
        <NavLink class="btn btn-warning" href="@($"editar-cliente/{context.Id}")">
            Editar
        </NavLink>
        <button class="btn btn-danger" @onclick="@(() => OnShowModalClick(context.Id, context.NomeRazao))">
            Apagar
        </button>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination"></Paginator>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };
    private bool filtros;
    private List<Cliente> Clientes = new();
    private ClienteFiltros ModelFiltros { get; set; } = new ClienteFiltros();

    private void MostrarFiltros()
    {
        filtros = !filtros;
    }
    private void limparFiltros()
    {
        ModelFiltros.NomeRazao = null;
        ModelFiltros.Email = null;
        ModelFiltros.Telefone = null;
        ModelFiltros.DataCadastroInicio = null;
        ModelFiltros.DataCadastroFim = null;
        ModelFiltros.Bloqueado = null;
    }
    private void Filtrar()
    {
        CarregarDados();
        MostrarFiltros();
    }
    private void CarregarDados()
    {
        var clientes = clientService.ListarClientes(ModelFiltros);
        if (clientes != null)
        {
            Clientes = clientes;
        }
    }

    private async Task OnShowModalClick(int id, string nomeRazao)
    {
        var parameters = new ModalParameters().Add(nameof(Confirm.ClienteNomeRazao), nomeRazao);

        var moviesModal = modalService.Show<Confirm>("Confirm Delete", parameters);
        var result = await moviesModal.Result;

        if (result.Confirmed)
        {
            try
            {
                clientService.ApagarClientePorId(id);
            }
            catch (Exception ex)
            {
                toastService.ShowError(ex.Message);
            }
            CarregarDados();
        }
        
    }

    protected override void OnInitialized()
    {
        CarregarDados();
    }
}
